*{
  border-radius: 15px;
  margin-top: 15px;

  color: whitesmoke;
}

.wrapper{
  display: grid;
  justify-content: center;
  grid-template-columns: 180px 180px;
  grid-gap: 5px;
  background-color: whitesmoke;



}

.thai {
text-align: center;

}



.caja{
  display: table-cell;
  padding: 10px;
  text-align: center;
  background-color: black;
  margin-bottom: 10px;
}
