<div class="wrapper">

  <div class="thai">
    <div class="caja">

      <h3> Aprende <br/>   Muay Thai</h3>
      <p> Ejercita tu cuerpo y libera el estrés en cada golpe.
      Tenemos horarios para prinicipiantes, intermedios y avanzados
      Horario: Matutinos y vespertinos​ </p>
    </div>
  </div>

  <div class="jiu">
    <div class="caja">

      <h3> Aprende <br/>  Jiu-Jitsu</h3>
      <p> Ejercita todo tu cuerpo y aprende a defenderte.
      Única escuela en Texcoco con Campeones Nacionales e Internacionales.
      Horario: Matutinos y vespertinos​ </p>
    </div>
  </div>

</div>
