 <!-- <h1>Planes y precios</h1>  -->
<div class="wrapper">

    <div class="container">
    <h1>Muay Thai</h1>
    <p>$600</p>
    <p> Horarios Matutinos y vespertinos </p>
    <button class="join">Unete Ya</button>
    </div>
  <div class="container-main">
    <h1>Jiu Jitsu + Thai</h1>
    <p>$750</p>
    <p> Horarios Matutinos y vespertinos </p>
    <button class="main-join">Unete Ya</button>
  </div>
  <div class="container">
    <h1>Jiu Jitsu</h1>
    <p>$300</p>
    <p> Horarios Matutinos y vespertinos </p>
    <button class="join">Unete Ya</button>
  </div>
</div>


