.wrapper {
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 1rem;
}

.main-join {
  border-style: none;
  width: 150px;
  height: 35px;
  border-radius: 1rem;
  background-color: black;
  color: whitesmoke;
  margin-top: 15px;
  margin-bottom: 10px;
}
.main-join:hover {
  background-color: white;
  color: black;
}
.join {
  border-style:double;
  width: 150px;
  height: 35px;
  border-radius: 1rem;
  color: black;
  margin-top: 15px;
  margin-bottom: 10px;
}

.join:hover {
  background-color: black;
  color: white;
}


.container {
  overflow: hidden;
  box-shadow:0px 2px 8px 0px rgb(65, 58, 65) ;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  width: 280px;
  height: 350px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}


.container > p {
  font-weight:bold;
}

.container-main {
  overflow: hidden;
  box-shadow:0px 2px 8px 0px rgb(65, 58, 65) ;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  width: 280px;
  height: 350px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  background-color: #C42C28;
  color: whitesmoke;
}
