*{
  border-radius: 15px;
}

.wrapper {
  height: 400px;
  color: #ffff;
  margin-top: 10px;
  text-align: center;
  background-size: cover;
background-image: url( ../../../assets/img/thai-wallpaper.jpeg);
};
.content{
  padding-top: 100px;
}

button {
  border-style: none;
  width: 150px;
  height: 35px;
  border-radius: 1rem;
  background-color: #C42C28;
  margin-top: 15px;
}
button:hover{
  background-color: black;
  color: white;
}

h1 {
  font-size: 45px;
}
a {
  color: #ffff;
  text-decoration: none;

}
