
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" href="">
        <img class="logo-img" src="../../../assets/img/Boxeo-tailandes.png" alt="logo">
      </a>
      <ul>
        <li> <a routerLinkActive="active" routerLink="inicio"> Inicio </a></li>
        <li >
          <a routerLinkActive="active" routerLink="entrenamientos"> Entrenamientos </a>
        </li>
        <li >
          <a routerLinkActive="active" routerLink="precios"> Precios </a>
        </li>
        <li >
          <a routerLinkActive="active" routerLink="equipo"> Equipo </a>
        </li>
        <li >
          <a routerLinkActive="active" routerLink="contacto"> Contacto </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
